{% extends "base.twig" %}

{% block title %}Rotfl : D{% endblock %}

{% block content %}
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Is adult?</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.isAdult }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}